# Ignore all
*

# Unignore all with extensions; ignore executables
!*.*

# ignore all dirs
*/
*/*
!test
!test/*.cc


ckpoint*
*.txt
*.o

Test*.cc
!Test_hmc.cc

.nfs*

run.sh
submit.sh
nohup.out
Makefile
makefile

*.cobaltlog
*.error
*.output
!qlat_wrapper/*
